<h2>car new template: {{title}}</h2>
<form>
  {{#with controller}}
    engine: {{view Ember.TextField valueBinding="engine"}}
    {{validationErrors.engine.messages}}<br />
    year: {{view Ember.TextField valueBinding="year"}}
    {{validationErrors.year.messages}}<br />
    modelName: {{view Ember.TextField valueBinding="modelName"}}
    {{validationErrors.modelName.messages}}<br />
    color: {{view Ember.TextField valueBinding="color"}}
    {{validationErrors.color.messages}}<br />
    <button {{action "submit" this}}>Submit</button>
    {{thing}}
  {{/with}}
</form>
