<h2>car edit template: {{title}}</h2>
<form>
  engine: {{view Ember.TextField valueBinding="controllers.car.engine"}}<br />
  year: {{view Ember.TextField valueBinding="controllers.car.year"}}<br />
  modelName: {{view Ember.TextField valueBinding="controllers.car.modelName"}}<br />
  color: {{view Ember.TextField valueBinding="controllers.car.color"}}<br />
  <button {{action "submit" controllers.car}}>Submit</button>
</form>
