<h1>templates/car.hbs: {{title}}</h1>

<p>
  computed property: {{foo}}
</p>

car year: {{year}}<br />
car model: {{modelName}}<br />
car engine: {{engine}}<br />
car color: {{color}}<br />

<h2>car.hbs Outlet</h2>

{{outlet}}

<p>
  {{#linkTo "car.edit"}}edit{{/linkTo}}
  {{#linkTo "car"}}show{{/linkTo}}
</p>
