<h1>{{title}}</h1>

{{#each controller}}
  {{id}}: {{color}} {{year}} {{make.name}} {{modelName}}, {{engine}}
  <span {{action "destroy" this}} class='destroy'>x</span><br />
{{/each}}

<div>
  {{outlet}}
</div>

{{#linkTo "cars.new"}}Make a new car{{/linkTo}}
