<h1>{{title}}</h1>

<p>
  Here I use a button instead of a link to move to the edit page. Yay!
  Just to see if it was possible.  : P
</p>

{{! Here, Ember has automatically set `model === content` as per conventional defaults }}
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Website</th>
  </tr>
  {{#each model}}
    <tr>
      <td>{{id}}</td>
      <td>{{name}}</td>
      <td>{{website}}</td>
      <td><button {{action edit this}}>Edit</button></td>
      <td><span {{action destroy this}} class='destroy'>x</span></td>
    </tr>
  {{/each}}
</table>
{{#linkTo "makes.new"}}Make a new make{{/linkTo}}

<div>
  {{outlet}}
</div>

